/* Past Work & Pricing Section */
@media only screen and (min-width: 0rem) {
  .past-work-pricing {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
  }
  .past-work-pricing .container {
    width: 100%;
    padding: 0 20px;
  }
  .past-work-pricing .section-title {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #000;
    width: 100%;
    max-width: 1139px;
    margin: 0 auto;
    padding: 70px 20px 0;
    text-align: center;
    text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
  .past-work-pricing .section-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    width: 100%;
    max-width: 1183px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0px;
  }
  .past-work-pricing .past-work {
    width: 100%;
    max-width: 1162px;
    margin: 0 auto;
    padding: 20px;
  }
  .past-work-pricing .past-work .work-grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  .past-work-pricing .past-work .work-item {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
  }
  .past-work-pricing .past-work .work-item .work-image {
    width: 100%;
  }
  .past-work-pricing .past-work .work-item .work-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
  .past-work-pricing .past-work .work-item .work-description {
    margin-top: 20px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
  .past-work-pricing .past-work .work-item .work-description .work-text {
    font-family: "Roboto", -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  .past-work-pricing .past-work .work-item .work-description .work-link {
    font-family: "Roboto", -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  .past-work-pricing .section-title-pricing {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #000;
    width: 100%;
    max-width: 1139px;
    margin: 80px auto 0;
    padding: 0 20px;
    text-align: center;
    text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
  .past-work-pricing .section-description-pricing {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    width: 100%;
    max-width: 1183px;
    margin: 20px auto 0;
    padding: 0 20px;
    text-align: center;
    line-height: 44px;
    letter-spacing: 0px;
  }
  .past-work-pricing .pricing {
    width: 100%;
    max-width: 1183px;
    margin: 60px auto 0;
    padding: 0 20px;
  }
  .past-work-pricing .pricing .pricing-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .past-work-pricing .pricing .pricing-card {
    flex: 1;
    min-width: 300px;
    max-width: 370px;
    border-radius: 8px;
    padding: 22px;
    position: relative;
  }
  .past-work-pricing .pricing .pricing-card.basic {
    box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: #000;
  }
  .past-work-pricing .pricing .pricing-card.basic .card-title,
  .past-work-pricing .pricing .pricing-card.basic .price {
    color: #fff;
  }
  .past-work-pricing .pricing .pricing-card.basic .card-description,
  .past-work-pricing .pricing .pricing-card.basic .price-details,
  .past-work-pricing .pricing .pricing-card.basic .features {
    color: #fff;
  }
  .past-work-pricing .pricing .pricing-card.basic .basic-button {
    background-color: #fff;
    color: #000;
  }
  .past-work-pricing .pricing .pricing-card.standard, .past-work-pricing .pricing .pricing-card.premium {
    border: 5px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    padding: 24px;
    max-width: 373px;
  }
  .past-work-pricing .pricing .pricing-card.standard .card-title,
  .past-work-pricing .pricing .pricing-card.standard .price, .past-work-pricing .pricing .pricing-card.premium .card-title,
  .past-work-pricing .pricing .pricing-card.premium .price {
    color: #000;
  }
  .past-work-pricing .pricing .pricing-card.standard .card-description,
  .past-work-pricing .pricing .pricing-card.standard .price-details,
  .past-work-pricing .pricing .pricing-card.standard .features, .past-work-pricing .pricing .pricing-card.premium .card-description,
  .past-work-pricing .pricing .pricing-card.premium .price-details,
  .past-work-pricing .pricing .pricing-card.premium .features {
    color: #000;
  }
  .past-work-pricing .pricing .pricing-card.standard .standard-button,
  .past-work-pricing .pricing .pricing-card.standard .premium-button, .past-work-pricing .pricing .pricing-card.premium .standard-button,
  .past-work-pricing .pricing .pricing-card.premium .premium-button {
    background-color: #000;
    color: #fff;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  }
  .past-work-pricing .pricing .pricing-card .card-title {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .past-work-pricing .pricing .pricing-card .card-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .past-work-pricing .pricing .pricing-card .price-container {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 20px;
  }
  .past-work-pricing .pricing .pricing-card .price {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-size: 30px;
  }
  .past-work-pricing .pricing .pricing-card .price-details {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 28px;
    letter-spacing: 0px;
  }
  .past-work-pricing .pricing .pricing-card .features {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    margin-bottom: 40px;
  }
  .past-work-pricing .pricing .pricing-card .button-container {
    display: flex;
    justify-content: center;
  }
  .past-work-pricing .pricing .pricing-card .cta-button {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 272px;
    height: 52px;
    padding: 10px 12px;
    border: 1px solid #79747e;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
  }
}
/* Tablet - 991px */
@media only screen and (max-width: 991px) {
  .past-work-pricing .section-description {
    font-size: 20px !important;
    line-height: 32px !important;
  }
  .past-work-pricing .section-description-pricing {
    font-size: 20px !important;
    line-height: 32px !important;
  }
  .past-work-pricing .past-work .work-grid {
    flex-direction: column;
  }
  .past-work-pricing .past-work .work-item {
    flex-direction: column;
    min-width: 100%;
  }
  .past-work-pricing .past-work .work-item .work-description {
    min-width: 100%;
  }
  .past-work-pricing .pricing .pricing-card {
    max-width: 500px;
    width: 100%;
  }
  .past-work-pricing .pricing .pricing-card.basic {
    max-width: 500px;
    width: 100%;
  }
  .past-work-pricing .pricing .pricing-card.standard, .past-work-pricing .pricing .pricing-card.premium {
    max-width: 500px;
    width: 100%;
  }
  .past-work-pricing .pricing .pricing-card .card-title {
    max-width: 500px;
    width: 100%;
  }
  .past-work-pricing .pricing .pricing-card .card-description {
    max-width: 500px;
    width: 100%;
  }
  .past-work-pricing .pricing .pricing-card .price-container {
    max-width: 500px;
    width: 100%;
  }
  .past-work-pricing .pricing .pricing-card .price {
    max-width: 500px;
    width: 100%;
  }
  .past-work-pricing .pricing .pricing-card .price-details {
    max-width: 500px;
    width: 100%;
  }
  .past-work-pricing .pricing .pricing-card .features {
    max-width: 500px;
    width: 100%;
  }
  .past-work-pricing .pricing .pricing-card .button-container {
    max-width: 500px;
    width: 100%;
  }
}
/* Mobile - 640px */
@media only screen and (max-width: 640px) {
  .past-work-pricing .section-description {
    font-size: 18px !important;
    line-height: 28px !important;
    padding: 0 15px !important;
  }
  .past-work-pricing .section-description-pricing {
    font-size: 18px !important;
    line-height: 28px !important;
    padding: 0 15px !important;
  }
  .past-work-pricing .pricing .pricing-card {
    padding: 20px;
  }
  .past-work-pricing .pricing .pricing-card .card-title {
    font-size: 32px !important;
    padding: 20px;
  }
  .past-work-pricing .pricing .pricing-card .card-description {
    padding: 20px;
  }
  .past-work-pricing .pricing .pricing-card .price-container {
    padding: 20px;
  }
  .past-work-pricing .pricing .pricing-card .price {
    font-size: 24px !important;
    padding: 20px;
  }
  .past-work-pricing .pricing .pricing-card .price-details {
    padding: 20px;
  }
  .past-work-pricing .pricing .pricing-card .features {
    padding: 20px;
  }
  .past-work-pricing .pricing .pricing-card .button-container {
    padding: 20px;
  }
  .past-work-pricing .pricing .pricing-card .cta-button {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/*# sourceMappingURL=past-work-pricing.css.map */
